Repository eizaurus/eizaurus.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

-
  .gitignore
  dist/1.jpg
  dist/2.jpg
  dist/3.jpg
  dist/assets/index-0AyeDFps.css
  dist/assets/index-euoQGTCh.js
  dist/index.html
  dist/vite.svg
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  .browserslistrc
  .commitlintrc.yml
  .editorconfig
  .gitattributes
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  .stylelintrc.yml
  .vite/deps/_metadata.json
  .vite/deps/package.json
  .vscode/extensions.json
  1.jpg
  2.jpg
  3.jpg
  assets/index-0AyeDFps.css
  assets/index-euoQGTCh.js
  index.html
  vite.svg
Due: eslint --fix, prettier --write, stylelint --fix

-
  public/1.jpg
  public/2.jpg
  public/3.jpg
Due: none

-
  src/components/Block/Block.css
  src/components/Block/Block.tsx
Due: eslint --fix, prettier --write, stylelint --fix

-
  package-lock.json
  package.json
Due: prettier --write

Updates
  1.jpg
  2.jpg
  3.jpg
  assets/index-0AyeDFps.css
  assets/index-Bc1P-w5o.js
  assets/index-CxKzHNkg.css
  assets/index-euoQGTCh.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

-
  .vite/deps/_metadata.json
  .vite/deps/chunk-32EALFBN.js
  .vite/deps/chunk-32EALFBN.js.map
  .vite/deps/chunk-G3PMV62Z.js
  .vite/deps/chunk-G3PMV62Z.js.map
  .vite/deps/clsx.js
  .vite/deps/clsx.js.map
  .vite/deps/react-dom_client.js
  .vite/deps/react-dom_client.js.map
  .vite/deps/react.js
  .vite/deps/react.js.map
  .vite/deps/react_jsx-dev-runtime.js
  .vite/deps/react_jsx-dev-runtime.js.map
  .vite/deps/zod.js
  .vite/deps/zod.js.map
  .vite/deps/zustand.js
  .vite/deps/zustand.js.map
  .vite/deps/zustand_middleware.js
  .vite/deps/zustand_middleware.js.map
  dist/assets/index-0AyeDFps.css
  dist/assets/index-Bc1P-w5o.js
  dist/assets/index-CxKzHNkg.css
  dist/assets/index-euoQGTCh.js
  dist/index.html
Due: eslint --fix, prettier --write, stylelint --fix

-
  .vite/deps/_metadata.json
  public/1.jpg
  public/2.jpg
  public/3.jpg
Due: prettier --write

Updates
  1.jpg
  2.jpg
  3.jpg
Due: none

-
  .gitignore
Due: none

Updates
  assets/index-DPskX4o6.js
  index.html
Due: eslint --fix, prettier --write

Create index-DPskX4o6.js
  dist/assets/index-DPskX4o6.js
Due: eslint --fix, prettier --write

Updates
  1.jpg
  2.jpg
  3.jpg
  Urbanist.zip
  assets/index-BPq36Y5c.css
  assets/index-CxKzHNkg.css
  assets/index-hmthbo-f.js
  dist/assets/index-DPskX4o6.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  1.jpg
  2.jpg
  3.jpg
  assets/index-AW1ynk6I.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-AW1ynk6I.js
  assets/index-BPq36Y5c.css
  assets/index-D1derBAG.css
  assets/index-DBkY3hd9.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/index-D1derBAG.css
  assets/index-DBkY3hd9.js
  assets/index-DCPOrtXr.js
  assets/index-sAP4L1tP.css
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  Urbanist.zip
  assets/index-D_jkxBjQ.js
  assets/index-jLsaIRNs.css
  assets/index-sAP4L1tP.css
  fonts/Urbanist/OFL.txt
  fonts/Urbanist/README.txt
  fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf
  fonts/Urbanist/Urbanist-VariableFont_wght.ttf
  fonts/Urbanist/static/Urbanist-Black.ttf
  fonts/Urbanist/static/Urbanist-BlackItalic.ttf
  fonts/Urbanist/static/Urbanist-Bold.ttf
  fonts/Urbanist/static/Urbanist-BoldItalic.ttf
  fonts/Urbanist/static/Urbanist-ExtraBold.ttf
  fonts/Urbanist/static/Urbanist-ExtraBoldItalic.ttf
  fonts/Urbanist/static/Urbanist-ExtraLight.ttf
  fonts/Urbanist/static/Urbanist-ExtraLightItalic.ttf
  fonts/Urbanist/static/Urbanist-Italic.ttf
  fonts/Urbanist/static/Urbanist-Light.ttf
  fonts/Urbanist/static/Urbanist-LightItalic.ttf
  fonts/Urbanist/static/Urbanist-Medium.ttf
  fonts/Urbanist/static/Urbanist-MediumItalic.ttf
  fonts/Urbanist/static/Urbanist-Regular.ttf
  fonts/Urbanist/static/Urbanist-SemiBold.ttf
  fonts/Urbanist/static/Urbanist-SemiBoldItalic.ttf
  fonts/Urbanist/static/Urbanist-Thin.ttf
  fonts/Urbanist/static/Urbanist-ThinItalic.ttf
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/index-BtZAXWIl.js
  assets/index-D_jkxBjQ.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-PzpMBvVk.js
  assets/index-X6Xqw1qp.css
  assets/index-jLsaIRNs.css
  fonts/Urbanist/Urbanist-VariableFont_wght.woff2
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/index-CtuS2RLh.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-BtvCjDoY.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-CN3OZSca.css
  assets/index-X6Xqw1qp.css
  assets/index-o1wBgDm4.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/index-BUiaS2fg.css
  assets/index-CN3OZSca.css
  assets/index-oBwgIPbN.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/index-Dd67ImuO.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-BUiaS2fg.css
  assets/index-DafmYXGM.css
  assets/index-Dd67ImuO.js
  assets/index-fNri0-xe.js
  index.html
Due: eslint --fix, prettier --write, stylelint --fix

-
  dist/assets/index-Bc1P-w5o.js
  dist/assets/index-CxKzHNkg.css
  dist/index.html
  public/fonts/Urbanist/OFL.txt
  public/fonts/Urbanist/README.txt
  public/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf
  public/fonts/Urbanist/Urbanist-VariableFont_wght.ttf
  public/fonts/Urbanist/Urbanist-VariableFont_wght.woff2
  public/fonts/Urbanist/static/Urbanist-Black.ttf
  public/fonts/Urbanist/static/Urbanist-BlackItalic.ttf
  public/fonts/Urbanist/static/Urbanist-Bold.ttf
  public/fonts/Urbanist/static/Urbanist-BoldItalic.ttf
  public/fonts/Urbanist/static/Urbanist-ExtraBold.ttf
  public/fonts/Urbanist/static/Urbanist-ExtraBoldItalic.ttf
  public/fonts/Urbanist/static/Urbanist-ExtraLight.ttf
  public/fonts/Urbanist/static/Urbanist-ExtraLightItalic.ttf
  public/fonts/Urbanist/static/Urbanist-Italic.ttf
  public/fonts/Urbanist/static/Urbanist-Light.ttf
  public/fonts/Urbanist/static/Urbanist-LightItalic.ttf
  public/fonts/Urbanist/static/Urbanist-Medium.ttf
  public/fonts/Urbanist/static/Urbanist-MediumItalic.ttf
  public/fonts/Urbanist/static/Urbanist-Regular.ttf
  public/fonts/Urbanist/static/Urbanist-SemiBold.ttf
  public/fonts/Urbanist/static/Urbanist-SemiBoldItalic.ttf
  public/fonts/Urbanist/static/Urbanist-Thin.ttf
  public/fonts/Urbanist/static/Urbanist-ThinItalic.ttf
  src/App.tsx
  src/components/Block/Block.tsx
  src/components/Block2/Block2.css
  src/components/Block2/Block2.tsx
  src/index.css
  src/store/blockStore.ts
  src/types/global.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  assets/index-L_oSBEkc.js
  assets/index-fNri0-xe.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-BiVh21my.js
  assets/index-L_oSBEkc.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-BiVh21my.js
  assets/index-Dn3Dditf.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-B_qvWSHa.js
  assets/index-Dn3Dditf.js
  index.html
Due: eslint --fix, prettier --write

-
  dist/index.html
  src/components/Block2/Block2.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  prettier --write: any of: *.{js,jsx,ts,tsx,cjs,mjs,css,json,md,yml,html}
  stylelint --fix: any of: *.css
